body {
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

table {
	text-align: center;
}

#btnincluirproduto,
.btncomprar {
	width: 100%;
	color: #fff;
}

.menu {
	background-color: #3fc1c9;
}

.menu a {
	color: #fff;
	/* text-decoration: none; */
}

.campo-incluir-produto,
.campo-comprar {
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: flex-end;
}