<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
	<div th:fragment="topo">
		<nav class="navbar navbar-expand-lg menu">
			<a class="navbar-brand" th:href="@{/}">
				<img th:src="@{/img/controle-estoque.png}" width="30" height="30" class="d-inline-block align-top"
					alt="">
				Controle de Estoque
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
				aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categoria/listar}">
							<img th:src="@{/img/categoria.png}" width="30" height="30" class="d-inline-block align-top"
								alt="">
							Categorias
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/produto/listar}">
							<img th:src="@{/img/produto.png}" width="30" height="30" class="d-inline-block align-top"
								alt="">
							Produtos
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/cliente/listar}">
							<img th:src="@{/img/cliente.png}" width="30" height="30" class="d-inline-block align-top"
								alt="">
							Clientes
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/funcionario/listar}">
							<img th:src="@{/img/funcionario.png}" width="30" height="30"
								class="d-inline-block align-top" alt="">
							Funcionários
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/venda/listar}">
							<img th:src="@{/img/venda.png}" width="30" height="30" class="d-inline-block align-top"
								alt="">
							Vendas
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/logout}">
							<img th:src="@{/img/sair.png}" width="30" height="30" class="d-inline-block align-top"
								alt="">
							Sair
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div th:fragment="script">
		<script>
			var url = "";
			$(".excluir").on("click", function () {
				// no clique do botão excluir, guardar a url para ser chamada na confirmação da janela modal
				url = $(this).attr("data-value");
				url = url.replace("{id}", $(this).attr("id"));
			});

			$("#ok_confirm").click(function () {   // botão de confirmação da janela modal, chamará a controller
				document.location.href = "http://localhost:8080" + url;
			});
		</script>
	</div>
</body>

</html>